.header-title {
  color: #CC342D;
}
a {
  margin-right: 10px;
}
label {
  margin-right: 5px;
}
input {
  margin-right: 15px;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
button[type="submit"] {
  width: 100px;
}
.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid rgba(0,0,0,.1);
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
  border-radius: 3px;
}

.flash-success {
  background-color: #e6fff4;;
  color:#2c792d;
}

.flash-warning {
  background-color: #fef9c7fc;
  color: rgba(0,0,0,.65);
}

.flash-error {
  background-color: #ffcaca;
  color: #961717;
}

.container {
  width: 85%;
  margin: 0 auto;
}
.search {
  margin-top: 50px;
}

.trailsList {
  display: flex;
  flex-wrap: wrap;
}

.trailsListItem {
  width: 30%;
  margin: auto;
  margin-bottom: 15px;
}

.itemImg,
.trailInfo {
  width: 75%;
  margin: 0 auto;
}
.trailInfo {
  padding: 15px 0px 5px 0px;
  border: solid 1px rgba(0,0,0,.1);
  border-top: none;
}
.itemImg  {
  height: 300px;
}
.itemImg img {
  width: 100%;
  height: 300px;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.top > *:first-child {
  margin: 0 auto 0 0;

}

.top > span {
  font-size: .9em;
  color: rgba(0,0,0,.65);
}
.bottom > p {
  margin-bottom: 5px;
}
